<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--
    <link rel='stylesheet' href='/stylesheets/reset.css' />
-->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel = "stylesheet" href = "/stylesheets/main.css">
    <link rel = "stylesheet" href = "/stylesheets/container.css">
  </head>
  <body>
<!--
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
-->
  </body>
</html>
