<head>
   <meta charset = "UTF-8">
   <title>Add Employee</title>
</head>

<body>

  <h2>Add Employee</h2>
  <div class="addcontainer">
    <br><br>

      <label for="photo">Photo</label>
      <input id="photo" name="photo" type="text" placeholder="The image must be square">
      <br><br>
      <label for="lastName">Last name</label>
      <input id="lastName" name="lastName" type="text" class="input-lastname" placeholder="Last Name">
      <br><br>
      <label for="firstName">First name</label>
      <input id="firstName" name="firstName" type="text" class="input-firstname" placeholder="First Name">
      <br><br>
      <label for="address">Address</label>
      <input for="address" name="address" type="text" class="input-address" placeholder="Address">
      <br><br>
      <label for="username">Username</label>
      <input for="username" name="username" type="text" class="input-username" placeholder="Username">
      <br><br>
      <label for="password">Password</label>
      <input for="password" name="password" type="password" class="input-password" placeholder="Password">
      <br><br>
      <button type="submit"> Insert </button>
    
  </div>

</body>
  <script src="controllers/employeeManager.js"></script>
</html>
