<head>
   <meta charset = "UTF-8">
   <title>Edit Employee</title>
</head>

<body>

  <div class = "editcontainer">
    <h2>Edit Employee</h2>
    <img class = "icon" src = "http://guymcdowell.com/wp-content/uploads/2015/02/Guy-McDowell-2013-200x200px-96dpi.jpg">
    <br><br>
    <form action="/employee/edit" method="POST">
      <label for="lastName">Last name</label>
      <input id="lastName" name="lastName" type="text" placeholder="Last Name">
      <br><br>
      <label for="firstName">First name</label>
      <input id="firstName" name="firstName" type="text" placeholder = "First Name">
      <br><br>
      <label for="address">Address</label>
      <input id="address" name="address" type="text" placeholder="Address"></label>
      <br><br>
      <label for="username">Username</label>
      <input id="username" name="username" type="text" placeholder = "Username"></label>
      <br><br>
      <label for="password">Password</label>
      <input id="password" name="address" type="password" placeholder="Password"></label>
    <br><br>
    <label><button> Update </button></label>
    <label><button> Delete </button></label>
  </div>


</body>
</html>
