<head>
   <meta charset = "UTF-8">
   <title>Welcome</title>
   <link rel = "stylesheet" href = "/stylesheets/employeeList.css">
</head>

<body>

  <img class="header" src="/images/header.png">

  <div class = "toolbar">
    <label><input type "text" class = "input-search" placeholder = "Search"></label>
    <label><button> Search </button></label>
    <br>
    <label><button> Add Employee </button></label>
  </div>

  <div class = "employeecontainer">
    <br>
    <!--
    {{#each employee}}
    {{this.lastName}} {{this.firstName}}
    <img src="{{this.photo}}" class="img-responsive" alt="{{this.lastName}}">
    {{/each}}
  -->

        <ul><a href = "link">Empleado 1</a></ul>
        <ul><a href = "link">Empleado 2</a></ul>
        <ul><a href = "link">Empleado 3</a></ul>

  </div>

</body>
</html>
