<head>
   <meta charset = "UTF-8">
   <title>Welcome</title>
   <link rel = "stylesheet" href = "/stylesheets/employeeList.css">
</head>

<body>

  <img class="header" src="/images/header.png">

  <div class = "toolbar">
    <button type="submit" onclick="location.href='/employee/add'"> Add Employee </button>
  </div>

  <div class = "employeecontainer">
    <br>

    {{#each employee}}
    <a href="'/employee/' + {{this.id}}" > {{this.lastName}} {{this.firstName}} </a>
    </br>
    {{/each}}

  </div>
  <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
  <script src='../public/javascripts/main.js'></script>
</body>
</html>
