<head>
  <meta charset = "UTF-8">
  <title>Login</title>
<!--
  <link rel = "stylesheet" href = "/stylesheets/main.css">
  <link rel = "stylesheet" href = "/stylesheets/container.css">
-->
</head>

<body>

  <div class="row">
    <div class="col-md-12">
      <div class="logincontainer">
        <br>
        <img class="icon" src="/images/login.png">
        <h2>Member Login</h2>
        <form action="/index" method="POST">
          <input id="username" name="username" type="text" class="input-username" placeholder="Username">
          <br><br>
          <input id="password" name="password" type="password" class="input-pass" placeholder="Password">
          <br><br>
          <button type="submit" onclick="location.href='/employee'"> Log in </button>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
